@page "/"
@inject IJSRuntime JS;
@using SkiaSharp;
@using System.Runtime.InteropServices

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h1>Call JavaScript Function Example</h1>

<button type="button" class="btn btn-primary" @onclick="InvalidateCanvas">Refresh</button>

<br />

<canvas id="exampleCanvas"></canvas>

@code {
    private async Task InvalidateCanvas()
    {
        var w = 1024;
        var h = 1024;

        using var recorder = new SKPictureRecorder();
        using var canvas = recorder.BeginRecording(SKRect.Create(w, h));

        {
            canvas.Clear(SKColors.Red);

            using var paint = new SKPaint
            {
                Color = SKColors.Blue,
            };
            canvas.DrawRect(SKRect.Create(10, 10, 999, 999), paint);
        }

        using var picture = recorder.EndRecording();

        using var data = picture.Serialize();
        Console.WriteLine("SND data.Length = " + data.Size);

        var base64 = Convert.ToBase64String(data.AsSpan());
        Console.WriteLine("SND base64 = " + base64);

        await JS.InvokeAsync<bool>("refreshCanvas", base64, "exampleCanvas", w, h);
    }
}
